In [3]:
import pandas as pd

In [7]:
df = pd.read_csv('Data/metadata.csv')
result = df.groupby('disease')['our_project_id'].nunique()

# If you want to see the result as a dataframe
result_df = result.reset_index(name='project_count')

print(result_df)

    disease  project_count
0   C562730              1
1   C566241              0
2   D001249              1
3   D002692              1
4   D003424              2
5   D003550              7
6   D006262             39
7   D008175              0
8   D010034              1
9   D010300              1
10  D011014              1
11  D011565              1
12  D012136              1
13  D012141              2
14  D012507              0
15  D014627              2
16  D014777              0
17  D014890              1
18  D016585              3
19  D016889              0
20  D019449              1
21  D020345              1
22  D029424              3
23  D043183              1
24  D045169              1
25  D047928              4

In [79]:
new_df = df[df['disease'] == 'D047928']

In [80]:
len(df[df['disease'] == 'D047928'])

954

In [91]:
set(new_df['our_project_id'].values.tolist())

{'SRP065627', 'SRP066782', 'SRP115697', 'SRP192722'}

In [40]:
pd.set_option('display.max_rows', None)

# To display all columns
pd.set_option('display.max_columns', None)

In [92]:
new_df[new_df['our_project_id']=='SRP192722'].shape

(170, 9)

In [27]:
l = new_df[new_df['our_project_id']=='SRP002424']['BMI'].values.tolist()

In [28]:
print(l)

[nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan]

In [4]:
df = pd.read_csv('Data/metadata.csv')
grouped = df.groupby('our_project_id')

# Function to summarize classifications
def summarize_classifications(group):
    return group.describe(include='object')

# Apply the summary function to each group
summary = grouped.apply(summarize_classifications)

print(summary)

                            run_id BodySite our_project_id   sex host_age  \
our_project_id
ERP016180      count           274      274            274   274        0
               unique          274        2              1     2        0
               top      ERR1466857     Oral      ERP016180  Male      NaN
               freq              1      145            274   141      NaN
ERP104791      count           138      138            138     0        0
...                            ...      ...            ...   ...      ...
SRP241991      freq              1       89             89   NaN      NaN
SRP251660      count           406      406            406     0        0
               unique          406        1              1     0        0
               top     SRR11241833     Skin      SRP251660   NaN      NaN
               freq              1      406            406   NaN      NaN

                       BMI  country instrument_model  disease
our_project_id
ERP016180      count     0      274              274      274
               unique    0        1                1        2
               top     NaN  Finland         Illumina  D010300
               freq    NaN      274              274      139
ERP104791      count     0        0              138      138
...                    ...      ...              ...      ...
SRP241991      freq    NaN       89               89       89
SRP251660      count     0      406              406      406
               unique    0        1                1        1
               top     NaN    China         Illumina  D006262
               freq    NaN      406              406      406

[224 rows x 9 columns]

In [5]:
summary

                            run_id BodySite our_project_id   sex host_age  \
our_project_id
ERP016180      count           274      274            274   274        0
               unique          274        2              1     2        0
               top      ERR1466857     Oral      ERP016180  Male      NaN
               freq              1      145            274   141      NaN
ERP104791      count           138      138            138     0        0
...                            ...      ...            ...   ...      ...
SRP241991      freq              1       89             89   NaN      NaN
SRP251660      count           406      406            406     0        0
               unique          406        1              1     0        0
               top     SRR11241833     Skin      SRP251660   NaN      NaN
               freq              1      406            406   NaN      NaN

                       BMI  country instrument_model  disease
our_project_id
ERP016180      count     0      274              274      274
               unique    0        1                1        2
               top     NaN  Finland         Illumina  D010300
               freq    NaN      274              274      139
ERP104791      count     0        0              138      138
...                    ...      ...              ...      ...
SRP241991      freq    NaN       89               89       89
SRP251660      count     0      406              406      406
               unique    0        1                1        1
               top     NaN    China         Illumina  D006262
               freq    NaN      406              406      406

[224 rows x 9 columns]