In [1]:
import pandas as pd

I went to following link: https://evolgeniusteam.github.io/gmrepodocumentation/usage/downloaddatafromgmrepo/

I download Processed runs (samples_loaded.txt here) that has both uid and sample id which help to map samples to relative abundance profile

I downloaded relative abundances (species_abundance.txt here) that has relative abundance for each taxon for eaxh sample. I made relative abundance profile based on it

I downloaded All runs (samlpe_to_run_info.txt here) that has metadata for each sample.

### whole data preprocessing and filtering

In [2]:
# # Set the display option to show all rows
# pd.set_option('display.max_rows', None)
# pd.set_option('display.min_rows', None)

In [3]:
relative_abundance = pd.read_csv('species_abundance.txt', delimiter='\t')  # Adjust the delimiter as needed

In [4]:
relative_abundance.shape

(8283371, 4)

In [5]:
print(relative_abundance.columns)

Index(['loaded_uid', 'ncbi_taxon_id', 'taxon_rank_level',
       'relative_abundance'],
      dtype='object')

In [6]:
relative_abundance_df = relative_abundance.pivot_table(index='loaded_uid', columns='ncbi_taxon_id', values='relative_abundance', fill_value=0)

In [7]:
relative_abundance_df

ncbi_taxon_id,-1,6,7,9,10,11,13,14,16,17,...,2212691,2212731,2282523,2282740,2282741,2282742,2304691,2304692,2339232,2529408
loaded_uid,,,,,,,,,,,,,,,,,,,,,
1,1.503245,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,11.210800,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.496660,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,5.832720,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,5.147945,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52855,14.686035,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
52856,2.268080,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
52857,3.817365,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
52858,46.556050,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
52859,5.332600,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
# Drop the column named '-1'
relative_abundance_df = relative_abundance_df.drop(columns=[-1])

# Remove columns that have less than 2 non-zero values
relative_abundance_df = relative_abundance_df.loc[:, (relative_abundance_df != 0).sum(axis=0) >= 2]

In [9]:
relative_abundance_df

ncbi_taxon_id,6,7,9,10,11,13,14,16,17,18,...,2211641,2212691,2212731,2282523,2282740,2282741,2282742,2304691,2304692,2529408
loaded_uid,,,,,,,,,,,,,,,,,,,,,
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52855,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
52856,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
52857,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
52858,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
52859,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
relative_abundance_df.to_csv('relative_abundance.csv')

metadata

In [3]:
relative_abundance_df = pd.read_csv('relative_abundance.csv', index_col = False)

In [4]:
relative_abundance_df

,loaded_uid,6,7,9,10,11,13,14,16,17,...,2211641,2212691,2212731,2282523,2282740,2282741,2282742,2304691,2304692,2529408
0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32239,52855,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32240,52856,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32241,52857,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32242,52858,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
32243,52859,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
metadata = pd.read_csv('sample_to_run_info.txt', delimiter='\t')

/tmp/ipykernel_3045288/477576356.py:1: DtypeWarning: Columns (0,2,5,14,15,22,26,27,28,29) have mixed types. Specify dtype option on import or set low_memory=False.
  metadata = pd.read_csv('sample_to_run_info.txt', delimiter='\t')

In [6]:
metadata

,checking,project_id,our_project_id,sample_name,original_sample_description,curated_sample_description,run_id,sample_id,second_sample_id,experiment_type,...,sex,host_age,diet,longitude,latitude,BMI,Recent.Antibiotics.Use,antibiotics_used,Antibiotics.Dose,Days.Without.Antibiotics.Use
0,1,PRJDB4360,NaN,Japanese001,Healthy Japanese gut microbiota,NaN,DRR048993,NaN,SAMD00042843,Amplicon,...,Female,28.0,NaN,139.680,35.4800,NaN,NaN,NaN,NaN,NaN
1,1,PRJDB4360,NaN,Japanese002,Healthy Japanese gut microbiota,NaN,DRR048994,NaN,SAMD00042844,Amplicon,...,Male,31.0,NaN,139.680,35.4800,NaN,NaN,NaN,NaN,NaN
2,1,PRJDB4360,NaN,Japanese003,Healthy Japanese gut microbiota,NaN,DRR048995,NaN,SAMD00042845,Amplicon,...,Male,60.0,NaN,139.680,35.4800,NaN,NaN,NaN,NaN,NaN
3,1,PRJDB4360,NaN,Japanese004,Healthy Japanese gut microbiota,NaN,DRR048996,NaN,SAMD00042846,Amplicon,...,Male,57.0,NaN,139.680,35.4800,NaN,NaN,NaN,NaN,NaN
4,1,PRJDB4360,NaN,Japanese005,Healthy Japanese gut microbiota,NaN,DRR048997,NaN,SAMD00042847,Amplicon,...,Male,29.0,NaN,139.680,35.4800,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66575,1,PRJNA215106,NaN,F34_CY,Functional metagenomic selections were perform...,NaN,SRR961853,SAMN02317178,SAMN02317178,Metagenomics,...,NaN,0.7,NaN,-122.268,47.6614,NaN,NaN,NaN,NaN,NaN
66576,1,PRJNA215106,NaN,F34_PE,Functional metagenomic selections were perform...,NaN,SRR961854,SAMN02317178,SAMN02317178,Metagenomics,...,NaN,0.7,NaN,-122.268,47.6614,NaN,NaN,NaN,NaN,NaN
66577,1,PRJNA215106,NaN,F34_TE,Functional metagenomic selections were perform...,NaN,SRR961855,SAMN02317178,SAMN02317178,Metagenomics,...,NaN,0.7,NaN,-122.268,47.6614,NaN,NaN,NaN,NaN,NaN
66578,1,PRJNA215106,NaN,F34_TR,Functional metagenomic selections were perform...,NaN,SRR961856,SAMN02317178,SAMN02317178,Metagenomics,...,NaN,0.7,NaN,-122.268,47.6614,NaN,NaN,NaN,NaN,NaN
66579,1,PRJNA215106,NaN,F34_TRSX,Functional metagenomic selections were perform...,NaN,SRR961857,SAMN02317178,SAMN02317178,Metagenomics,...,NaN,0.7,NaN,-122.268,47.6614,NaN,NaN,NaN,NaN,NaN

In [7]:
uid_map = pd.read_csv('samples_loaded.txt', delimiter = '\t')

In [8]:
uid_map

,uid,accession_id,data_type,tool_used,results_version,last_updated,QCStatus,QCMessage
0,1,ERR525949,metagenomics,metaphlan ver2.0,0.1,2018-06-22 15:56:38,1,NaN
1,2,SRR413772,metagenomics,metaphlan ver2.0,0.1,2018-06-22 15:58:51,1,NaN
2,3,ERR526058,metagenomics,metaphlan ver2.0,0.1,2018-06-22 16:01:07,1,NaN
3,4,ERR209092,metagenomics,metaphlan ver2.0,0.1,2019-01-01 00:00:00,0,a single taxon unknown account for 100 percent...
4,5,ERR209066,metagenomics,metaphlan ver2.0,0.1,2019-01-01 00:00:00,0,a single taxon unknown account for 100 percent...
...,...,...,...,...,...,...,...,...
52628,52855,SRR5548979,metagenomics,metaphlan ver2.0,0.1,2019-06-21 16:04:46,1,NaN
52629,52856,SRR5548988,metagenomics,metaphlan ver2.0,0.1,2019-06-21 16:04:46,1,NaN
52630,52857,SRR5548952,metagenomics,metaphlan ver2.0,0.1,2019-06-21 16:04:46,1,NaN
52631,52858,SRR5548909,metagenomics,metaphlan ver2.0,0.1,2019-06-21 16:04:46,1,NaN
52632,52859,SRR5548888,metagenomics,metaphlan ver2.0,0.1,2019-06-21 16:04:46,1,NaN

In [9]:
merged_metadata = pd.merge(uid_map, metadata, left_on='accession_id', right_on='run_id', how='inner')

In [10]:
merged_metadata

,uid,accession_id,data_type,tool_used,results_version,last_updated,QCStatus,QCMessage,checking,project_id,...,sex,host_age,diet,longitude,latitude,BMI,Recent.Antibiotics.Use,antibiotics_used,Antibiotics.Dose,Days.Without.Antibiotics.Use
0,1,ERR525949,metagenomics,metaphlan ver2.0,0.1,2018-06-22 15:56:38,1,NaN,1,PRJEB6456,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,SRR413772,metagenomics,metaphlan ver2.0,0.1,2018-06-22 15:58:51,1,NaN,1,PRJNA422434,...,Female,45.0,NaN,NaN,NaN,NaN,N,NaN,NaN,2 months
2,3,ERR526058,metagenomics,metaphlan ver2.0,0.1,2018-06-22 16:01:07,1,NaN,1,PRJEB6456,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6,ERR209254,metagenomics,metaphlan ver2.0,0.1,2018-06-22 16:01:07,1,NaN,1,PRJEB1220,...,NaN,NaN,NaN,12.5683,55.6761,NaN,NaN,NaN,NaN,NaN
4,7,ERR525843,metagenomics,metaphlan ver2.0,0.1,2018-06-22 16:01:07,1,NaN,1,PRJEB6456,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53303,52855,SRR5548979,metagenomics,metaphlan ver2.0,0.1,2019-06-21 16:04:46,1,NaN,1,PRJNA50637,...,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53304,52856,SRR5548988,metagenomics,metaphlan ver2.0,0.1,2019-06-21 16:04:46,1,NaN,1,PRJNA50637,...,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53305,52857,SRR5548952,metagenomics,metaphlan ver2.0,0.1,2019-06-21 16:04:46,1,NaN,1,PRJNA50637,...,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53306,52858,SRR5548909,metagenomics,metaphlan ver2.0,0.1,2019-06-21 16:04:46,1,NaN,1,PRJNA50637,...,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53307,52859,SRR5548888,metagenomics,metaphlan ver2.0,0.1,2019-06-21 16:04:46,1,NaN,1,PRJNA50637,...,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

There are some samples that has more than one phenotype. For now, I'm filter these sample out from metadata but later we can keep them and do following instead: 

You need to transform your target labels into a multi-label format. For example, instead of having a single class label per sample, you represent the labels as a binary vector where each position corresponds to a phenotype, and 1 indicates the presence of that phenotype.

In [17]:
# Find duplicate `uid`s
duplicate_uids = merged_metadata[merged_metadata.duplicated('uid', keep=False)]['uid'].unique()

# Drop rows with those duplicate `uid`s
merged_metadata_cleaned = merged_metadata[~merged_metadata['uid'].isin(duplicate_uids)]

In [20]:
# Step 1: Find common UIDs between the two DataFrames
common_uids = set(relative_abundance_df['loaded_uid']).intersection(set(merged_metadata_cleaned['uid']))

print(len(common_uids))

# Step 2: Filter both DataFrames to keep only the rows with common UIDs
filtered_relative_abundance = relative_abundance_df[relative_abundance_df['loaded_uid'].isin(common_uids)]
filtered_metadata = merged_metadata_cleaned[merged_metadata_cleaned['uid'].isin(common_uids)]

# Step 3: Sort both DataFrames by the same order of UIDs
# First, sort the common_uids list to define the order
common_uids_sorted = sorted(common_uids)

# Reindex both DataFrames to ensure they follow the same order
filtered_relative_abundance = filtered_relative_abundance.set_index('loaded_uid').loc[common_uids_sorted].reset_index()
filtered_metadata = filtered_metadata.set_index('uid').loc[common_uids_sorted].reset_index()

26478

In [21]:
filtered_relative_abundance

,loaded_uid,6,7,9,10,11,13,14,16,17,...,2211641,2212691,2212731,2282523,2282740,2282741,2282742,2304691,2304692,2529408
0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26473,52855,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26474,52856,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26475,52857,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26476,52858,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
26477,52859,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [22]:
filtered_metadata

,uid,accession_id,data_type,tool_used,results_version,last_updated,QCStatus,QCMessage,checking,project_id,...,sex,host_age,diet,longitude,latitude,BMI,Recent.Antibiotics.Use,antibiotics_used,Antibiotics.Dose,Days.Without.Antibiotics.Use
0,1,ERR525949,metagenomics,metaphlan ver2.0,0.1,2018-06-22 15:56:38,1,NaN,1,PRJEB6456,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,SRR413772,metagenomics,metaphlan ver2.0,0.1,2018-06-22 15:58:51,1,NaN,1,PRJNA422434,...,Female,45.0,NaN,NaN,NaN,NaN,N,NaN,NaN,2 months
2,3,ERR526058,metagenomics,metaphlan ver2.0,0.1,2018-06-22 16:01:07,1,NaN,1,PRJEB6456,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6,ERR209254,metagenomics,metaphlan ver2.0,0.1,2018-06-22 16:01:07,1,NaN,1,PRJEB1220,...,NaN,NaN,NaN,12.5683,55.6761,NaN,NaN,NaN,NaN,NaN
4,7,ERR525843,metagenomics,metaphlan ver2.0,0.1,2018-06-22 16:01:07,1,NaN,1,PRJEB6456,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26473,52855,SRR5548979,metagenomics,metaphlan ver2.0,0.1,2019-06-21 16:04:46,1,NaN,1,PRJNA50637,...,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26474,52856,SRR5548988,metagenomics,metaphlan ver2.0,0.1,2019-06-21 16:04:46,1,NaN,1,PRJNA50637,...,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26475,52857,SRR5548952,metagenomics,metaphlan ver2.0,0.1,2019-06-21 16:04:46,1,NaN,1,PRJNA50637,...,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26476,52858,SRR5548909,metagenomics,metaphlan ver2.0,0.1,2019-06-21 16:04:46,1,NaN,1,PRJNA50637,...,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26477,52859,SRR5548888,metagenomics,metaphlan ver2.0,0.1,2019-06-21 16:04:46,1,NaN,1,PRJNA50637,...,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
filtered_relative_abundance.to_csv('filtered_relative_abundace.csv', index = False)

In [24]:
filtered_metadata.to_csv('filtered_metadata.csv', index=False)

### EDA

In [25]:
# relative_abundance = pd.read_csv('filtered_relative_abundance.csv')
metadata = pd.read_csv('filtered_metadata.csv')

/tmp/ipykernel_3045288/4032808118.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  metadata = pd.read_csv('filtered_metadata.csv')

In [27]:
metadata.columns

Index(['uid', 'accession_id', 'data_type', 'tool_used', 'results_version',
       'last_updated', 'QCStatus', 'QCMessage', 'checking', 'project_id',
       'our_project_id', 'sample_name', 'original_sample_description',
       'curated_sample_description', 'run_id', 'sample_id', 'second_sample_id',
       'experiment_type', 'nr_reads_sequenced', 'instrument_model', 'disease',
       'phenotype', 'is_disease_stage_available', 'disease_stage', 'more',
       'more_info', 'country', 'collection_date', 'sex', 'host_age', 'diet',
       'longitude', 'latitude', 'BMI', 'Recent.Antibiotics.Use',
       'antibiotics_used', 'Antibiotics.Dose', 'Days.Without.Antibiotics.Use'],
      dtype='object')

In [28]:
metadata

,uid,accession_id,data_type,tool_used,results_version,last_updated,QCStatus,QCMessage,checking,project_id,...,sex,host_age,diet,longitude,latitude,BMI,Recent.Antibiotics.Use,antibiotics_used,Antibiotics.Dose,Days.Without.Antibiotics.Use
0,1,ERR525949,metagenomics,metaphlan ver2.0,0.1,2018-06-22 15:56:38,1,NaN,1,PRJEB6456,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,SRR413772,metagenomics,metaphlan ver2.0,0.1,2018-06-22 15:58:51,1,NaN,1,PRJNA422434,...,Female,45.0,NaN,NaN,NaN,NaN,N,NaN,NaN,2 months
2,3,ERR526058,metagenomics,metaphlan ver2.0,0.1,2018-06-22 16:01:07,1,NaN,1,PRJEB6456,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6,ERR209254,metagenomics,metaphlan ver2.0,0.1,2018-06-22 16:01:07,1,NaN,1,PRJEB1220,...,NaN,NaN,NaN,12.5683,55.6761,NaN,NaN,NaN,NaN,NaN
4,7,ERR525843,metagenomics,metaphlan ver2.0,0.1,2018-06-22 16:01:07,1,NaN,1,PRJEB6456,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26473,52855,SRR5548979,metagenomics,metaphlan ver2.0,0.1,2019-06-21 16:04:46,1,NaN,1,PRJNA50637,...,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26474,52856,SRR5548988,metagenomics,metaphlan ver2.0,0.1,2019-06-21 16:04:46,1,NaN,1,PRJNA50637,...,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26475,52857,SRR5548952,metagenomics,metaphlan ver2.0,0.1,2019-06-21 16:04:46,1,NaN,1,PRJNA50637,...,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26476,52858,SRR5548909,metagenomics,metaphlan ver2.0,0.1,2019-06-21 16:04:46,1,NaN,1,PRJNA50637,...,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26477,52859,SRR5548888,metagenomics,metaphlan ver2.0,0.1,2019-06-21 16:04:46,1,NaN,1,PRJNA50637,...,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
metadata['sex'].value_counts()

sex
Male      6122
Female    5756
Name: count, dtype: int64

In [32]:
metadata['disease'].value_counts().to_csv('disease_count.csv')

In [33]:
metadata['project_id'].value_counts().to_csv('projects_count.csv')

### IBD data filtering (train and test)

In [2]:
metadata = pd.read_csv('sample_to_run_info.txt', delimiter = '\t')

/tmp/ipykernel_3045702/3371440668.py:1: DtypeWarning: Columns (0,2,5,14,15,22,26,27,28,29) have mixed types. Specify dtype option on import or set low_memory=False.
  metadata = pd.read_csv('sample_to_run_info.txt', delimiter = '\t')

In [4]:
metadata

,checking,project_id,our_project_id,sample_name,original_sample_description,curated_sample_description,run_id,sample_id,second_sample_id,experiment_type,...,sex,host_age,diet,longitude,latitude,BMI,Recent.Antibiotics.Use,antibiotics_used,Antibiotics.Dose,Days.Without.Antibiotics.Use
0,1,PRJDB4360,NaN,Japanese001,Healthy Japanese gut microbiota,NaN,DRR048993,NaN,SAMD00042843,Amplicon,...,Female,28.0,NaN,139.680,35.4800,NaN,NaN,NaN,NaN,NaN
1,1,PRJDB4360,NaN,Japanese002,Healthy Japanese gut microbiota,NaN,DRR048994,NaN,SAMD00042844,Amplicon,...,Male,31.0,NaN,139.680,35.4800,NaN,NaN,NaN,NaN,NaN
2,1,PRJDB4360,NaN,Japanese003,Healthy Japanese gut microbiota,NaN,DRR048995,NaN,SAMD00042845,Amplicon,...,Male,60.0,NaN,139.680,35.4800,NaN,NaN,NaN,NaN,NaN
3,1,PRJDB4360,NaN,Japanese004,Healthy Japanese gut microbiota,NaN,DRR048996,NaN,SAMD00042846,Amplicon,...,Male,57.0,NaN,139.680,35.4800,NaN,NaN,NaN,NaN,NaN
4,1,PRJDB4360,NaN,Japanese005,Healthy Japanese gut microbiota,NaN,DRR048997,NaN,SAMD00042847,Amplicon,...,Male,29.0,NaN,139.680,35.4800,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66575,1,PRJNA215106,NaN,F34_CY,Functional metagenomic selections were perform...,NaN,SRR961853,SAMN02317178,SAMN02317178,Metagenomics,...,NaN,0.7,NaN,-122.268,47.6614,NaN,NaN,NaN,NaN,NaN
66576,1,PRJNA215106,NaN,F34_PE,Functional metagenomic selections were perform...,NaN,SRR961854,SAMN02317178,SAMN02317178,Metagenomics,...,NaN,0.7,NaN,-122.268,47.6614,NaN,NaN,NaN,NaN,NaN
66577,1,PRJNA215106,NaN,F34_TE,Functional metagenomic selections were perform...,NaN,SRR961855,SAMN02317178,SAMN02317178,Metagenomics,...,NaN,0.7,NaN,-122.268,47.6614,NaN,NaN,NaN,NaN,NaN
66578,1,PRJNA215106,NaN,F34_TR,Functional metagenomic selections were perform...,NaN,SRR961856,SAMN02317178,SAMN02317178,Metagenomics,...,NaN,0.7,NaN,-122.268,47.6614,NaN,NaN,NaN,NaN,NaN
66579,1,PRJNA215106,NaN,F34_TRSX,Functional metagenomic selections were perform...,NaN,SRR961857,SAMN02317178,SAMN02317178,Metagenomics,...,NaN,0.7,NaN,-122.268,47.6614,NaN,NaN,NaN,NaN,NaN

I found IBD projects on GMrepo following link: https://gmrepo.humangut.info/phenotypes/D043183

In [3]:
IBD_projects = ['PRJEB11419', 'PRJNA268708', 'PRJNA46339', 'PRJNA302437', 'PRJNA392762', 'PRJNA386442', 'PRJDB5442', 'PRJNA373876', 'PRJNA524547' ]

In [5]:
Filtered_projects_metadata = metadata[metadata['project_id'].isin(IBD_projects)]

In [8]:
diseases = ['D043183', 'D006262']

In [12]:
Filtered_projects_disease_metadata = Filtered_projects_metadata[Filtered_projects_metadata['disease'].isin(diseases)]

In [13]:
Filtered_projects_disease_metadata

,checking,project_id,our_project_id,sample_name,original_sample_description,curated_sample_description,run_id,sample_id,second_sample_id,experiment_type,...,sex,host_age,diet,longitude,latitude,BMI,Recent.Antibiotics.Use,antibiotics_used,Antibiotics.Dose,Days.Without.Antibiotics.Use
1192,1,PRJDB5442,NaN,FGIDs01-D01.3000.fastq,Stool sample of donor used for fecal microbiot...,NaN,DRR086903,DRS058942,SAMD00074226,Amplicon,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1193,1,PRJDB5442,NaN,FGIDs01-R00w.3000.fastq,Stool sample of patients at week 0 after fecal...,NaN,DRR086904,DRS058943,SAMD00074227,Amplicon,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1194,1,PRJDB5442,NaN,FGIDs01-R04w.3000.fastq,Stool sample of patients at week 4 after fecal...,NaN,DRR086905,DRS058944,SAMD00074228,Amplicon,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1195,1,PRJDB5442,NaN,FGIDs01-R12w.3000.fastq,Stool sample of patients at week 12 after feca...,NaN,DRR086906,DRS058945,SAMD00074229,Amplicon,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1196,1,PRJDB5442,NaN,FGIDs03-D01.3000.fastq,Stool sample of donor used for fecal microbiot...,NaN,DRR086907,DRS058946,SAMD00074230,Amplicon,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56120,1,PRJNA392762,NaN,FIBS_BS41,MIMS Environmental/Metagenome sample from huma...,NaN,SRR5796813,NaN,SAMN07309937,Amplicon,...,Female,39.0,Control,174.89,-40.9,NaN,NaN,NaN,NaN,NaN
56121,1,PRJNA392762,NaN,FIBS_BS44,MIMS Environmental/Metagenome sample from huma...,NaN,SRR5796814,NaN,SAMN07309940,Amplicon,...,Male,46.0,LowFODMAP,174.89,-40.9,NaN,NaN,NaN,NaN,NaN
56122,1,PRJNA392762,NaN,FIBS_BS43,MIMS Environmental/Metagenome sample from huma...,NaN,SRR5796815,NaN,SAMN07309939,Amplicon,...,Female,32.0,Control,174.89,-40.9,NaN,NaN,NaN,NaN,NaN
56123,1,PRJNA392762,NaN,FIBS_BS50,MIMS Environmental/Metagenome sample from huma...,NaN,SRR5796816,NaN,SAMN07309946,Amplicon,...,Female,49.0,LowFODMAP,174.89,-40.9,NaN,NaN,NaN,NaN,NaN
56124,1,PRJNA392762,NaN,FIBS_BS49,MIMS Environmental/Metagenome sample from huma...,NaN,SRR5796817,NaN,SAMN07309945,Amplicon,...,NaN,NaN,NaN,174.89,-40.9,NaN,NaN,NaN,NaN,NaN

In [15]:
Filtered_projects_disease_metadata['project_id'].value_counts()

project_id
PRJEB11419     4205
PRJNA46339      355
PRJNA268708     290
PRJNA302437     152
PRJNA392762     110
PRJNA373876      52
PRJNA386442      48
PRJDB5442        40
Name: count, dtype: int64

In [16]:
uid_map = pd.read_csv('samples_loaded.txt', delimiter = '\t')

In [20]:
merged_metadata_IBD = pd.merge(uid_map, Filtered_projects_disease_metadata, left_on='accession_id', right_on='run_id', how='inner')

In [21]:
merged_metadata_IBD.shape

(5251, 38)

In [22]:
relative_abundance_df = pd.read_csv('relative_abundance.csv', index_col = False)

In [23]:
# Step 1: Find common UIDs between the two DataFrames
common_uids_IBD = set(relative_abundance_df['loaded_uid']).intersection(set(merged_metadata_IBD['uid']))

print(len(common_uids_IBD))

# Step 2: Filter both DataFrames to keep only the rows with common UIDs
filtered_relative_abundance_IBD = relative_abundance_df[relative_abundance_df['loaded_uid'].isin(common_uids_IBD)]
filtered_metadata_IBD = merged_metadata_IBD[merged_metadata_IBD['uid'].isin(common_uids_IBD)]

# Step 3: Sort both DataFrames by the same order of UIDs
# First, sort the common_uids list to define the order
common_uids_IBD_sorted = sorted(common_uids_IBD)

# Reindex both DataFrames to ensure they follow the same order
filtered_relative_abundance_IBD = filtered_relative_abundance_IBD.set_index('loaded_uid').loc[common_uids_IBD_sorted].reset_index()
filtered_metadata_IBD = filtered_metadata_IBD.set_index('uid').loc[common_uids_IBD_sorted].reset_index()

2441

In [24]:
filtered_metadata_IBD.to_csv('filtered_metadata_IBD.csv', index = False)

In [25]:
filtered_relative_abundance_IBD.to_csv('filtered_relative_abundance_IBD.csv', index = False)

### IBD metadata EDA

In [2]:
metadata_IBD = pd.read_csv('filtered_metadata_IBD.csv')

In [3]:
metadata_IBD

,uid,accession_id,data_type,tool_used,results_version,last_updated,QCStatus,QCMessage,checking,project_id,...,sex,host_age,diet,longitude,latitude,BMI,Recent.Antibiotics.Use,antibiotics_used,Antibiotics.Dose,Days.Without.Antibiotics.Use
0,4721,SRR1686980,amplicon,Mapseq,1.0,2019-01-01 00:00:00,1,NaN,1,PRJNA268708,...,NaN,NaN,NaN,2.1833,41.3833,NaN,N,NaN,NaN,NaN
1,4722,SRR1686981,amplicon,Mapseq,1.0,2019-01-01 00:00:00,1,NaN,1,PRJNA268708,...,NaN,NaN,NaN,2.1833,41.3833,NaN,N,NaN,NaN,NaN
2,4723,SRR1686982,amplicon,Mapseq,1.0,2019-01-01 00:00:00,1,NaN,1,PRJNA268708,...,NaN,NaN,NaN,2.1833,41.3833,NaN,N,NaN,NaN,NaN
3,4724,SRR1687009,amplicon,Mapseq,1.0,2019-01-01 00:00:00,1,NaN,1,PRJNA268708,...,NaN,NaN,NaN,2.1833,41.3833,NaN,N,NaN,NaN,NaN
4,4725,SRR1687039,amplicon,Mapseq,1.0,2019-01-01 00:00:00,1,NaN,1,PRJNA268708,...,NaN,NaN,NaN,2.1833,41.3833,NaN,N,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2436,50638,SRR051708,amplicon,Mapseq,1.0,2019-06-05 10:02:31,1,NaN,1,PRJNA46339,...,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2437,50639,SRR051709,amplicon,Mapseq,1.0,2019-06-05 10:02:31,1,NaN,1,PRJNA46339,...,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2438,50640,SRR051710,amplicon,Mapseq,1.0,2019-06-05 10:02:31,1,NaN,1,PRJNA46339,...,Female,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2439,50641,SRR051715,amplicon,Mapseq,1.0,2019-06-05 10:02:31,1,NaN,1,PRJNA46339,...,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2440,50642,SRR051747,amplicon,Mapseq,1.0,2019-06-05 10:02:31,1,NaN,1,PRJNA46339,...,Male,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
metadata_IBD['project_id'].value_counts()

project_id
PRJEB11419     1956
PRJNA268708     290
PRJNA392762      91
PRJNA386442      48
PRJNA46339       48
PRJNA302437       8
Name: count, dtype: int64

In [5]:
IBD_train_df = metadata_IBD[metadata_IBD['project_id'] == 'PRJEB11419']

# Create the testing DataFrame where project_id is not 'PRJEB11419'
IBD_test_df = metadata_IBD[metadata_IBD['project_id'] != 'PRJEB11419']

In [12]:
IBD_train_df.shape

(1956, 38)

In [13]:
IBD_test_df.shape

(485, 38)

In [6]:
IBD_train_df['disease'].value_counts()

disease
D006262    1376
D043183     580
Name: count, dtype: int64

In [7]:
IBD_test_df['disease'].value_counts()

disease
D043183    374
D006262    111
Name: count, dtype: int64

In [8]:
IBD_train_df['sex'].value_counts()

sex
Female    974
Male      972
Name: count, dtype: int64

In [9]:
IBD_test_df['sex'].value_counts()

sex
Female    131
Male       52
Name: count, dtype: int64

In [10]:
IBD_train_df['host_age'].count()

1956

In [11]:
IBD_test_df['host_age'].count()

135

In [14]:
IBD_train_df['BMI'].count()

1956

In [15]:
IBD_test_df['BMI'].count()

0